[submodule "mpv/.config/mpv/scripts/mpvacious"]
	path = mpv/.config/mpv/scripts/mpvacious
	url = https://github.com/Ajatt-Tools/mpvacious.git
[submodule "common/.zsh_plugins/fast-syntax-highlighting"]
	path = common/.zsh_plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "common/.zsh_plugins/zsh-autosuggestions"]
	path = common/.zsh_plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "common/.powerlevel10k"]
	path = common/.powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
