[submodule "common/dot-config/zsh/antidote"]
	path = common/dot-config/zsh/antidote
	url = https://github.com/mattmc3/antidote.git
[submodule "common/dot-config/tmux/plugins/tpm"]
	path = common/dot-config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
