let mapleader = " "
set number relativenumber
set hlsearch
set ignorecase smartcase
set showmode
set history=1000
set incsearch
set clipboard+=unnamedplus
set ideaput
set ideamarks
set relativenumber
set ReplaceWithRegister
set visualbell
set idearefactormode=visual
set showcmd
set showmode
set ideajoin
set scrolloff=10

" set up plugins
" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'

" easier to switch windows with ctrl+directioh
map <C-h> <C-w><C-h>
map <C-l> <C-w><C-l>

" match neovim
map gra <Action>(ShowIntentionActions)
map gri <Action>(GotoImplementation)
map grn <Action>(RenameElement)
map <leader>e <Action>(ShowErrorDescription)
nmap <leader>q <Action>(ActivateProblemsViewToolWindow)

" search
nmap <leader><leader> <Action>(SearchEverywhere)
nmap <leader>sg <Action>(TextSearchAction)
